*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root{
    --primary-accent-color: #ff8c00;
    --primary-background-color: #0a0806;
    --primary-font-color: #f2e9de;
}

body{
    background-color: var(--primary-background-color);
    color: var(--primary-font-color);
    font-size: 20px;
    font-weight: 400;
}

.mobile.logo{
    display:none;
}

a ,
.dropbtn{
    text-decoration: none;
    color: var(--primary-font-color);
    cursor: pointer;
    transition: transform 0.3s ease;
}

a:hover ,
.dropbtn:hover{
    color: var(--primary-accent-color);
    transform: scale(1.1) translateY(-3px);
    transform: scale(1.1);
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 2em;
    max-width: 1200px;
}

ul{
    display: flex;
    list-style: none;
    gap: 1em;
    align-items: center;
}

li{
    cursor: pointer;
    transition: padding 0.3s ease;
}

li a{
    display: block;
    text-decoration: none;
    text-align: center;
    transition: transform 0.3s ease, color 0.3s ease;
}

.logo{
    font-size: 1.5em;
    font-weight: 500;
}

.reserve-button{
    font-size: 1.1em;
    font-weight: 500;
    color: #0a0806;
    background-color: var(--primary-accent-color);
    padding: 0.7em 1em;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.reserve-button:hover{
    color: var(--primary-font-color);
    transform: scale(1.05);
}

.mobile-navbar{
    display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropbtn {
  cursor: pointer;
  font-size: 20px;  
  border: none;
  outline: none;
  color: var(--primary-font-color);
  background-color: inherit;
  margin: 0;
  padding-inline: 8px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #1a1a1a;
  min-width: 160px;
  max-width: 200px;
  margin-top: 20px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: var(--primary-font-color);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown-content a:hover {
  background-color: #1a1a1a;
    color:#ff8c00;
}

.show {
  display: block;
}

.dropbtn:hover{
    color:#ff8c00;
}

@media screen and (max-width: 1400px){
    body{
        font-size: 18px;
    }
}

@media screen and (max-width: 1000px){

    .desktop.logo,
    .reserve-button.desktop{
        display: none;
    }

    .mobile.logo{
        display: inline-block;
        font-size: 1.8em;
    }

    .mobile-logo-container{
        display: flex;
        justify-content: center;
        padding-block: 3vh;
    }

    .mobile-navbar{
        display: block;
    }

    ul{
        width:100%;
        padding-inline: 10vw;
    }

    .navbar {
        display: flex;
        position: fixed;
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);
        width: 100vw;
        height:11vh;
        background-color: #1a1a1a;
        padding: 20px 10px;
        z-index: 1000;
        align-items: center;
    }

    .nav-list{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    .nav-item .label,
    .dropbtn {
        font-size: 11px;
        text-align: center;
    }

    .nav-item{
        display: flex;
        align-items: center;
    }

    .nav-item-link{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .nav-item.active .label{
        color: var(--primary-accent-color);
    }

    .dropdown-content {
        top: auto;          /* Reset the top position */
        bottom: 100%;       /* Anchor it to the top of the button */
        margin-top: 0;      /* Remove the desktop downward margin */
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 440px){
    ul{
        padding:0;
    }
}

