*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root{
    --primary-accent-color: #ff8c00;
    --primary-background-color: #0a0806;
    --primary-font-color: #f2e9de;
}

body{
    background-color: var(--primary-background-color);
    color: var(--primary-font-color);
    font-size: 20px;
    font-weight: 400;
}

.mobile.logo{
    display:none;
}

a{
    text-decoration: none;
    color:var(--primary-font-color);
    cursor: pointer;
    transition: transform 0.3s ease;
}

a:hover{
    color: var(--primary-accent-color);
    transform: scale(1.1);
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 2em;
    max-width: 1200px;
}

ul{
    display: flex;
    list-style: none;
    gap: 1em;
    align-items: center;
}

li {
    cursor: pointer;
    transition: padding 0.3s ease;
}

li a {
    display: block;
    text-decoration: none;
    text-align: center;
    transition: transform 0.3s ease, color 0.3s ease;
}

li:hover a {
    transform: scale(1.1) translateY(-3px);
    color: var(--primary-accent-color);
}

.logo{
    font-size: 1.5em;
    font-weight: 500;
}

.reserve-button{
    font-size: 1.1em;
    font-weight: 500;
    color: #0a0806;
    background-color: var(--primary-accent-color);
    padding: 0.7em 1em;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.reserve-button:hover{
    color: var(--primary-font-color);
    transform: scale(1.05);
}

.mobile-navbar{
    display: none;
}

.hero{
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("./img/welcome-normal.webp");
    background-repeat: no-repeat;
    background-size: 100vw 100%;
}

.hero-container{
    height: 800px;
    display: flex;
    max-width: 1300px;
    margin: 0 auto;
    padding-inline: 2em;
    padding-block: 3em;
    justify-content: center;
}

.hero-content{
    align-self: flex-end;
    text-align: center;
}

.hero-title{
    font-size: 2.6em;
    font-weight: 500;
    text-shadow: 2px 2px 8px var(--primary-background-color);
    background-color: var(--primary-accent-color);
    border-radius: 7px;
    padding-block: 0.5em;
}

.hero-paragraph{
    text-shadow: 2px 2px 8px black;
    padding-block: 1.3em;
}

@media screen and (max-width: 1400px){
    body{
        font-size: 18px;
    }

    .hero{
        background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("./img/welcome-medium.webp");
    }
}

@media screen and (max-width: 1000px){

    .desktop.logo,
    .reserve-button.desktop{
        display: none;
    }

    .mobile.logo{
        display: inline-block;
        font-size: 1.8em;
    }

    .mobile-logo-container{
        display: flex;
        justify-content: center;
        padding-block: 3vh;
    }

    .hero-title{
        background-color: transparent;
    }

    .mobile-navbar{
        display: block;
    }

    ul{
        width:100%;
        padding-inline: 10vw;
    }

    .navbar {
        display: flex;
        position: fixed;
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);
        width: 100vw;
        height:11vh;
        background-color: #1a1a1a;
        padding: 20px 10px;
        z-index: 1000;
        align-items: center;
    }

    .nav-list{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    .nav-item .label {
        font-size: 11px;
        text-align: center;
    }

    .nav-item{
        display: flex;
        align-items: center;
    }

    .nav-item-link{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .nav-item.active .label{
        color: var(--primary-accent-color);
    }

    .hero{
        background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("./img/welcome-small.webp");
        background-size: cover;
    }

    .hero-container{
        height: 500px;
    }
}

@media screen and (max-width: 440px){
    ul{
        padding:0;
    }
}